body {
    font-family: Arial;
    color: white;
    background-color: rgb(34, 34, 34);
    overscroll-behavior: none;
}
#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}